<nav>
    <ul class="mb-5" style="display:flex">
        <li><a href="/" id="homeNav" class="text-white text-4xl px-3 py-8 text-cyan-400 font-bold mb-5 hover:text-cyan-400">Home</a></li>
        <li><a href="/trx" id="trxNav" class="text-white text-4xl px-3 py-8 text-cyan-400 font-bold mb-5 hover:text-cyan-400">Transaction</a></li>
    </ul>
</nav>
<hr>